.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: crosshair;
  /* 阻止用户选择文本，避免干扰拖拽 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* 阻止拖拽图片等默认行为 */
  -webkit-user-drag: none;
}

.canvas-container.panning {
  cursor: grab;
}

.canvas-container.panning:active {
  cursor: grabbing;
}

.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  background: white;
}

.empty-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #7f8c8d;
}

.empty-state h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.empty-state p {
  font-size: 16px;
}
